<div class="row">
  <%= render partial: 'layouts/admin_sidebar' %>
  <div class="col-12 col-lg-10">
    <div class="card">
      <div class="card-header">Manage Users</div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Confirmed?</th>
            <th><i class="fa fa-pencil" aria-hidden="true"></i></th>
            <th><i class="fa fa-trash" aria-hidden="true"></i></th>
          </tr>
        </thead>
        <tbody>
          <% @accounts.each_with_index do |account, i| %>
            <tr>
              <th scope="row"><%= i+1 %></th>
              <td><%= account.id %></td>
              <td><%= account.first_name %></td>
              <td><%= account.last_name %></td>
              <td><%= account.email %></td>
              <td><% if account.confirmed_at.present? %><%= time_ago_in_words(account.confirmed_at.localtime) %> ago<% else %>Not yet<% end %></td>
              <td>
                <%= link_to edit_admin_account_path(account) do %>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                <% end %>
              </td>
              <td>
                <%= link_to admin_account_path(account), method: :delete, data: { confirm: "You sure?" } do %>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>